// # Header

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.header {
    border: 1px solid red;
    width: 100%;
    padding-top: 16px;

    &__navbar {
        border: 1px solid red;
        max-width: 1220px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-menu {
            display: flex;
            align-items: center
        }

        &-list {
            display: flex;
        }

        &-item {
            margin-left: 24px;
        }

        &-link {
            border: 1px solid green;

            display: inline-block;
            padding: 8px 16px;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 200;
        }





        
        
        &-social {
            &-list {
                display: flex;
                align-items: center
            }
        }

    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================