// # Home

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

.main {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 16px;
    height: calc(100vh - 93px);

    &-container {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__item {

            max-width: 576px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-logos {
                display: flex;
            }
        }

        &__item-destaque {

            &-img {
                max-width: 125%;
                transform: translate3d(-140px, 0, 0);

                @include responsive() {
                    display: none;
                }
            }
        }

        @include responsive() {
            flex-direction: column;
            height: auto;
        }
    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

