// # Home

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

.main {
    max-width: 1220px;
    margin: 0 auto;
    padding: 36px 16px;
    height: 90vh;

    &-container {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__item {

            max-width: 576px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-logos {
                display: flex;
            }
        }

        &__item-destaque {

            &-img {
                max-width: 130%;
                transform: translate3d(-120px, 0, 0);

                @include responsive() {
                    max-width: 100%;
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        @include responsive() {
            flex-direction: column;
            height: auto;
        }
    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

