// # Home

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

.main {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 16px;
    height: calc(100vh - 93px);

    &-container {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__item {

            max-width: 576px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-img {
                padding: 0 8px;

                img {
                    @include responsive() {
                        width: 80%;
                        margin: 0 auto;
                        padding-top: 6px;
                    }
                }
            }

            &-desc {
                margin: 10px 0;
            }

            &-btn {
                a:first-child {
                    margin-right: 16px;
                }

                @include responsive() {
                    width: 100%;

                    a:first-child {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }

                    a {
                        width: 100%;
                    }
                }
            }

            &-logos {
                display: flex;
                margin-top: 16px;

                img:first-child {
                    margin-right: 8px;
                }

                @include responsive() {
                    margin: 16px auto;
                }
            }
        }

        &__item-destaque {

            &-img {
                max-width: 125%;
                transform: translate3d(-140px, 0, 0);

                @include responsive() {
                    display: none;
                }
            }
        }

        @include responsive() {
            flex-direction: column;
            height: auto;
        }
    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

